@import url("https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rock+Salt&display=swap");
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #CED2D6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Averia Sans Libre", sans-serif; }
  body main {
    display: flex;
    background-color: #CED2D6;
    width: 90%;
    margin: 0 auto;
    /* DEJA MARGENES AUTOMATICOS PARA CENTRAR LA CAJA */
    text-align: center;
    flex-direction: column;
    padding-top: 30px; }

main {
  display: flex;
  background-color: #CED2D6;
  width: 90%;
  margin: 0 auto;
  /* DEJA MARGENES AUTOMATICOS PARA CENTRAR LA CAJA */
  text-align: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px; }
  main .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 360px;
    background-color: #292E33;
    color: #ffffff;
    background-image: url(../img/wine-cave.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 60px; }
    main .hero h1 {
      text-transform: uppercase;
      font-size: 4em;
      font-family: "Rock Salt", cursive;
      font-weight: 400;
      font-style: normal;
      text-shadow: 0px 0px 7px #CED2D6;
      margin-bottom: 1em; }
    main .hero p {
      font-size: 40px; }
  main .history {
    display: flex;
    flex-wrap: wrap;
    height: 530px;
    flex-direction: column;
    justify-content: space-evenly; }
    main .history h2 {
      font-size: 40px;
      font-weight: 900; }
    main .history p {
      font-size: 20px;
      line-height: 32px;
      font-weight: 900; }
  main .back-img-fixed {
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-radius: 60px; }
  main .fondo1 {
    background-image: url(../img/hero.jpg); }
  main .fondo2 {
    background-image: url(../img/main2.jpg); }
  main .history-bodega {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    text-align: center;
    flex-wrap: wrap;
    align-content: space-evenly; }
    main .history-bodega h2 {
      font-size: 40px;
      font-weight: 900; }
    main .history-bodega p {
      font-size: 20px;
      line-height: 32px;
      font-weight: 900; }
  main .maps {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 60px; }
    main .maps ul li {
      list-style: none;
      font-size: 35px;
      font-weight: 600; }
    main .maps .contact-map {
      margin: 30px;
      border-radius: 10px;
      box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.75); }
  main .contenedor-degustacion h1 {
    font-size: 45px;
    font-weight: 900; }
  main .contenedor-degustacion h2 {
    font-size: 30px;
    font-weight: 900; }
  main section p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 900;
    padding: 5px; }
  main section div h3 {
    font-size: 30px;
    font-weight: 900; }

header {
  background-color: #292E33;
  position: sticky;
  top: 0;
  z-index: 10; }
  header nav div a img {
    height: 120px; }
  header nav div div div .nav-link {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    /* padding-left: 50px !important; */ }
    header nav div div div .nav-link:hover {
      color: #CC4949;
      transform: scale(1.1);
      transition: transform 0.3s ease; }

.fixed a {
  text-align: center;
  line-height: 75px;
  vertical-align: middle;
  font-size: 50px;
  color: #ffffff;
  width: 75px;
  height: 75px;
  background-color: #25D366;
  box-shadow: 0px 0px 3px 5px #25D366;
  -webkit-box-shadow: 0px 0px 5px 5px #25D366;
  -moz-box-shadow: 0px 0px 5px 5px #25D366;
  border-radius: 50%;
  position: fixed;
  bottom: 45px;
  right: 45px; }
  .fixed a:hover {
    background-color: #25d390;
    box-shadow: 0px 0px 3px 5px #25d390;
    -webkit-box-shadow: 0px 0px 5px 5px #25d390;
    -moz-box-shadow: 0px 0px 5px 5px #25d390; }

footer {
  display: flex;
  height: 150px;
  width: 100%;
  background-color: #292E33;
  color: #CED2D6;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  footer ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px; }
    footer ul li a {
      margin: 0px 15px;
      text-decoration: none;
      font-size: 20px;
      color: #ffffff; }
      footer ul li a:hover {
        color: #CC4949; }
  footer p {
    font-size: 20px;
    margin: 0px; }
  footer div a {
    font-size: 30px;
    color: #ffffff;
    margin: 0px 5px; }
    footer div a .bi-facebook:hover {
      color: #2357ff; }
    footer div a .bi-instagram:hover {
      color: #ff9728; }

main .titulo-galeria h1 {
  font-size: 45px;
  font-weight: 900; }

main .titulo-galeria p {
  font-size: 20px;
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  text-align: justify; }

main .contenedor-galeria {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.3rem;
  text-align: center; }
  main .contenedor-galeria .galeria {
    display: grid;
    margin: 0.2em 0.2em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 0.3em;
    grid-auto-flow: dense; }
    main .contenedor-galeria .galeria figure {
      display: flex;
      margin: 0; }
      main .contenedor-galeria .galeria figure img {
        flex: 1;
        max-width: 100%;
        object-fit: cover; }

.contenedor--carousel {
  width: 65%;
  margin: 1em auto; }
  .contenedor--carousel div .carousel-inner {
    border-radius: 1rem; }

body main .contenedor-degustacion {
  margin-bottom: 15px; }
  body main .contenedor-degustacion a {
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #6d0003;
    border-radius: 10px;
    color: #6d0003;
    padding: 2px 7px;
    transition: all 0.5s; }
    body main .contenedor-degustacion a:hover {
      background-color: #6d0003;
      color: #ffffff; }

body main section div .degustaciones-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  body main section div .degustaciones-container .caja-degustaciones {
    display: flex;
    height: 200px;
    margin: 30px 10px;
    border: 2px solid #6d0003;
    border-radius: 0px 10px 10px 0px;
    transition: transform 0.3s, box-shadow 0.3s; }
    body main section div .degustaciones-container .caja-degustaciones:hover {
      transform: translateX(-4px) translateY(-4px);
      box-shadow: 0 5px 15px #000000b3; }
    body main section div .degustaciones-container .caja-degustaciones img {
      height: 100%; }
    body main section div .degustaciones-container .caja-degustaciones div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      body main section div .degustaciones-container .caja-degustaciones div p {
        width: 200px;
        font-weight: 900;
        font-size: 22px; }
        body main section div .degustaciones-container .caja-degustaciones div p:nth-child(2) {
          font-weight: 400; }
      body main section div .degustaciones-container .caja-degustaciones div a {
        text-decoration: none;
        font-size: 20px;
        border: 2px solid #6d0003;
        border-radius: 10px;
        color: #6d0003;
        padding: 2px 7px;
        transition: all 0.5s; }
        body main section div .degustaciones-container .caja-degustaciones div a:hover {
          background-color: #6d0003;
          color: #ffffff;
          transform: scale(1.1); }

main .enlaces-tienda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  main .enlaces-tienda .caja-productos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 340px;
    width: 180px;
    margin: 30px 10px;
    border: 2px solid #6d0003;
    border-radius: 0px 0px 10px 10px;
    transition: transform 0.3s, box-shadow 0.3s; }
    main .enlaces-tienda .caja-productos:hover {
      transform: translateX(-4px) translateY(-4px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7); }
    main .enlaces-tienda .caja-productos img {
      height: 50%;
      object-fit: contain; }
    main .enlaces-tienda .caja-productos p {
      height: 80px;
      width: 75%;
      text-align: center; }
    main .enlaces-tienda .caja-productos .boton-comprar-productos {
      text-decoration: none;
      font-size: 20px;
      border: 2px solid #6d0003;
      border-radius: 10px;
      color: #6d0003;
      padding: 2px 7px;
      transition: all 0.5s; }
      main .enlaces-tienda .caja-productos .boton-comprar-productos:hover {
        background-color: #6d0003;
        color: #ffffff;
        transform: scale(1.1); }

.bg-contacto {
  background: #292E33;
  background: linear-gradient(0deg, #292E33 50%, rgba(206, 208, 210, 0.875788) 90%, rgba(206, 210, 214, 0.461222) 100%); }
  .bg-contacto .contact-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;
    font-size: 35px;
    color: #292E33; }
    .bg-contacto .contact-info ul {
      padding: 40px; }
      .bg-contacto .contact-info ul li {
        text-align: left;
        list-style: none; }
        .bg-contacto .contact-info ul li .contact-info--whatsapp {
          color: #292E33;
          text-decoration: none; }
          .bg-contacto .contact-info ul li .contact-info--whatsapp i {
            margin-right: 15px; }
          .bg-contacto .contact-info ul li .contact-info--whatsapp:hover {
            color: #0daf0d; }
        .bg-contacto .contact-info ul li .contact-info--instagram {
          color: #292E33;
          text-decoration: none; }
          .bg-contacto .contact-info ul li .contact-info--instagram i {
            margin-right: 15px; }
          .bg-contacto .contact-info ul li .contact-info--instagram:hover {
            color: #ff9728; }
        .bg-contacto .contact-info ul li .contact-info--facebook {
          color: #292E33;
          text-decoration: none; }
          .bg-contacto .contact-info ul li .contact-info--facebook i {
            margin-right: 15px; }
          .bg-contacto .contact-info ul li .contact-info--facebook:hover {
            color: #2357ff; }
        .bg-contacto .contact-info ul li i {
          margin-right: 15px; }
        .bg-contacto .contact-info ul li:nth-child(4) {
          text-align: center;
          font-size: 55px; }
    .bg-contacto .contact-info .contact-map {
      border-radius: 10px; }
  .bg-contacto .form-container {
    margin-top: 40px; }
    .bg-contacto .form-container p {
      color: #ffffff;
      font-size: 40px;
      margin: 15px auto; }
    .bg-contacto .form-container form {
      padding: 20px;
      max-width: 600px;
      margin: 50px auto; }
      .bg-contacto .form-container form .feedback-input {
        color: white;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 18px;
        border-radius: 5px;
        line-height: 22px;
        background-color: transparent;
        border: 2px solid #CC6666;
        transition: all 0.3s;
        padding: 13px;
        margin-bottom: 15px;
        width: 100%;
        box-sizing: border-box;
        outline: 0; }
        .bg-contacto .form-container form .feedback-input:focus {
          border: 2px solid #c03f3f; }
      .bg-contacto .form-container form textarea {
        height: 150px;
        line-height: 150%;
        resize: vertical; }
      .bg-contacto .form-container form .form-boton {
        width: 100%;
        background-color: #CC6666;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        color: white;
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.3s;
        margin-top: -4px;
        font-weight: 700; }
        .bg-contacto .form-container form .form-boton:hover {
          background-color: #CC4949; }

@media screen and (max-width: 1360px) {
  .galeria {
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 1160px) {
  header nav div div .navbar-nav .nav-link {
    letter-spacing: 2px;
    font-size: 30px; }
  main .hero {
    margin-bottom: 30px;
    background-position: bottom; }
    main .hero h1 {
      font-size: 55px; }
  main .history {
    height: auto; }
  main .maps {
    flex-direction: column; }
    main .maps ul {
      padding: 0; } }

@media screen and (max-width: 991px) {
  .navbar {
    --bs-navbar-padding-y: 0rem; }
    .navbar div div .navbar-nav {
      flex-direction: row;
      justify-content: center; }
      .navbar div div .navbar-nav .nav-link {
        padding-left: 25px !important; }
  main .hero h1 {
    font-size: 50px; }
  main .history {
    flex-direction: row; }
  main .back-img-fixed {
    height: 300px; }
  .galeria {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 850px) {
  .navbar div div .navbar-nav {
    flex-direction: column; }
    .navbar div div .navbar-nav .nav-link {
      padding: 0px !important; }
  body main {
    width: 100%; }
    body main .hero {
      margin-bottom: 30px;
      background-position: bottom;
      background-size: 120%; }
      body main .hero h1 {
        font-size: 40px; }
    body main .back-img-fixed {
      background-attachment: unset;
      background-position-x: center; }
    body main section .contenedor--carousel {
      width: 80%; }
  body .fixed a {
    font-size: 40px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 40px;
    right: 40px; } }

@media screen and (max-width: 690px) {
  .header-logo {
    height: 95px; }
  .nav-link {
    font-size: 25px; }
  main .hero {
    margin-bottom: 30px;
    background-position: bottom;
    background-size: 150%; }
    main .hero h1 {
      font-size: 35px; }
  .bg-contacto .contact-info {
    font-size: 32px; }
    .bg-contacto .contact-info .contact-map {
      display: none; } }

@media screen and (max-width: 620px) {
  main .hero {
    background-size: 210%; }
    main .hero h1 {
      line-height: 2; }
  main .history-bodega {
    height: auto;
    margin-top: 20px; }
  main .maps .contact-map {
    display: none; }
  .bg-contacto .contact-info {
    font-size: 27px; }
  .bg-contacto .form-container p {
    font-size: 30px; }
  footer ul li a {
    font-size: 18px;
    margin: 0px 6px; }
  footer p {
    font-size: 18px; }
  footer div a {
    font-size: 25px; } }

@media screen and (max-width: 480px) {
  body main {
    padding-top: 0px; }
    body main section div .degustaciones-container .caja-degustaciones {
      flex-direction: column;
      height: 350px;
      border-radius: 0px 0px 10px 10px; }
      body main section div .degustaciones-container .caja-degustaciones img {
        height: 50%; }
    body main .tienda {
      margin-top: 20px; }
      body main .tienda h1 {
        font-size: 23px;
        font-weight: 900; }
    body main .hero {
      height: auto;
      width: 130% auto;
      background-image: none;
      background-color: #292E33;
      padding: 15px 0px;
      border-radius: 0px 0px 40px 40px; }
      body main .hero h1 {
        height: auto;
        background-image: none;
        margin-bottom: 0px; }
      body main .hero p {
        display: none; }
    body main .maps ul li {
      font-size: 30px; }
    body main .titulo-galeria {
      margin-top: 40px; }
  body .fixed a {
    font-size: 30px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    bottom: 20px;
    right: 20px; }
  body footer ul li a {
    font-size: 14px; }
  body footer p {
    font-size: 15px; }
  body footer div a {
    font-size: 20px; } }
