body {
    background-color: $color-fondo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Averia Sans Libre", sans-serif;
    main {
        display: flex;
        background-color: $color-fondo;
        width: 90%;
        margin: 0 auto; /* DEJA MARGENES AUTOMATICOS PARA CENTRAR LA CAJA */
        text-align: center;
        flex-direction: column;
        padding-top: 30px;
    }
}