footer {
    display: flex;
    height: 150px;
    width: 100%;
    background-color: #292E33;
    color: #CED2D6;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    p {
        font-size: 20px;
        margin: 0px;
    }
    div {
        a {
            font-size: 40px;
        color: #ffffff;
        margin: 0px 5px;
        .bi-facebook {
            &:hover {
                color: #2357ff;
            }
        }
        .bi-instagram {
            &:hover {
                color: #ff9728;
            }
        }
        }
    }
}