main {
    .titulo-galeria {
        h1 {
            font-size: 45px;
            font-weight: 900;
        }
        p {
            font-size: 20px;
            width: 95%;
            margin: 0 auto;
            padding: 20px;
            text-align: justify;
        }
    }
    .contenedor-galeria {
        max-width: 100%;
        margin: 0 auto;
        padding: 0.3rem;
        text-align: center;
        .galeria {
            display: grid;
            margin: 0.2em 0.2em;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-template-rows: 1fr;
            grid-gap: 0.3em;
            grid-auto-flow: dense;
            figure {
                display: flex;
                margin: 0;
                img {
                    flex: 1;
                    max-width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
