header {
    background-color: $color-principal3;
    position: sticky;
    top: 0;
    z-index: 10;
    nav {
        div {
            a {
                img {
                    height: 120px;
                }
            }
            div {
                div {
                    .nav-link {
                        color: #ffffff;
                        text-align: center;
                        font-size: 30px;
                        letter-spacing: 3px;
                        /* padding-left: 50px !important; */
                        &:hover {
                            color: $color-principal2;
                            transform: scale(1.1);
                            transition: transform 0.3s ease;
                        }
                    }
                }
            }
        }
    }
}