.enlaces-tienda {
    display: flex;
    flex-direction: column;
    .productos-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .caja-productos {
            display: flex;
            flex-direction: column;
            background-color: #3253734d;
            width: 180px;
            height: 350px;
            margin: 10px;
            padding: 10px;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            font-weight: 900;
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
            -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
            img {
                width: 100%;
            }
            .boton-comprar-productos {
                text-decoration: none;
                font-size: 20px;
                background-color: #000000;
                color: #CED2D6;
                border-radius: 20px;
                width: 140px;
                &:hover {
                    background-color: #6a88a6;
                    color: #000000;
                    box-shadow: 0px 0px 12px 2px rgba(106,136,166,0.75);
                    -webkit-box-shadow: 0px 0px 12px 2px rgba(106,136,166,0.75);
                    -moz-box-shadow: 0px 0px 12px 2px rgba(106,136,166,0.75);
                }
            }
        }
    }
}