@media screen and (max-width:1360px){
    .galeria {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:1160px){
    header {
        nav {
            div {
                div {
                    .navbar-nav {
                        .nav-link {
                            letter-spacing: 2px;
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
    main {
        .hero {
            margin-bottom: 30px;
            background-position: bottom;
            h1 {
                font-size: 55px;
            }
        }
        .history {
            height: auto;
        }
        .maps {
            flex-direction: column;
            ul {
                padding: 0;
            }
        }
    }
}

@media screen and (max-width:991px){
    .navbar {
        --bs-navbar-padding-y: 0rem;
        div {
            div {
                .navbar-nav {
                    flex-direction: row;
                    justify-content: center;
                    .nav-link {
                        padding-left: 25px !important;
                    }
                }
            }
        }
    }
    main {
        .hero {
            h1 {
                font-size: 50px;
            }
        }
        .history {
            flex-direction: row;
        }
        .back-img-fixed {
            height: 300px;
        }
    }
    .galeria {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:850px){
    .navbar {
        div {
            div {
                .navbar-nav {
                    flex-direction: column;
                    .nav-link {
                        padding: 0px !important;
                    }
                }
            }
        }
    }
    body {
        main {
            width: 100%;
            .hero {
                margin-bottom: 30px;
                background-position: bottom;
                background-size: 120%;
                h1 {
                    font-size: 40px;
                }
            }
            .back-img-fixed {
                background-attachment: unset;
                background-position-x: center;
            }
            section {
                .contenedor--carousel {
                    width: 80%;
                }
            }
        }
        .fixed {
            a {
                font-size: 40px;
                width: 55px;
                height: 55px;
                line-height: 55px;
                bottom: 40px;
                right: 40px;  
            }
        }
    }
}

@media screen and (max-width:690px){
    .header-logo {
        height: 95px;
    }
    .nav-link {
        font-size: 25px;
    }
    main {
        .hero {
            margin-bottom: 30px;
            background-position: bottom;
            background-size: 150%;
            h1 {
                font-size: 35px;
            }
        }
    }
    .bg-contacto {
        .contact-info {
            font-size: 32px;
            .contact-map {
                display: none;
            }
        }
    }
}

@media screen and (max-width:620px){
    main {
        .hero {
            background-size: 210%;
            h1 {
                line-height: 2;
            }
        }
        .history-bodega {
            height: auto;
            margin-top: 20px;
        }
        .maps {
            .contact-map {
                display: none;
            }
        }
    }   
    .bg-contacto {
        .contact-info {
            font-size: 27px;
        }
        .form-container {
            p {
                font-size: 30px;
            }
        }
    }
    footer {
        ul {
            li {
                a {
                    font-size: 18px;
                    margin: 0px 6px;
                }
            }
        }
        p {
            font-size: 18px;
        }
        div {
            a {
                font-size: 25px
            }
        }
    }
}

@media screen and (max-width:480px){
    body {
        main {
            padding-top: 20px;
            section {
                div {
                    .degustaciones-container {
                        .caja-degustaciones {
                            flex-direction: column;
                            height: 350px;
                            border-radius: 0px 0px 10px 10px;
                            img {
                                height: 50%;
                            }
                        }
                    }
                }
            }
            .tienda {
                h1 {
                    font-size: 23px;
                    font-weight: 900;
                }
            }
            .hero {
                height: auto;
                width: 130% auto;
                background-image: none;
                background-color: #3c4349;
                padding: 15px 0px;
                border-radius: 0px 0px 40px 40px;
                h1{
                    height: auto;
                    background-image: none;
                    margin-bottom: 0px;
                }
                p{
                    display: none;
                }
            }
            .maps {
                ul {
                    li {
                        font-size: 30px;
                    }
                }
            }
            .titulo-galeria {
                margin-top: 40px;
            }
        }
        .fixed {
            a {
                font-size: 30px;
                width: 45px;
                height: 45px;
                line-height: 45px;
                bottom: 20px;
                right: 20px;  
            }
        }
        footer {
            ul {
                li {
                    a {
                        font-size: 14px;

                    }
                }
            }
            p {
                font-size: 15px;
            }
            div {
                a {
                    font-size: 20px
                }
            }
        }
    }
}